ENTSOE_API_KEY=KEY
DOCKER_IMAGE_NAME=docker_image
DOCKER_LOCAL_PORT=8000
GCP_PROJECT=gcp_project_name
GCP_REGION=europe-..
DOCKER_REPO_NAME=docker_repo_name
GAR_MEMORY=2Gi
START_DATE=2018-10-01
END_DATE=2026-04-24
ENV=development
