# Core
numpy>=1.23.5,<2.0
pandas
scipy
scikit-learn

# API
fastapi
uvicorn
httpx
python-dotenv

# Data fetching
entsoe-py
yfinance
requests
openmeteo-requests

# ML
torch
xgboost
mlflow

# GCP
google-cloud-bigquery
google-cloud-storage
pyarrow
db-dtypes

# Utils
pytz
holidays
matplotlib
seaborn
pytest
pytest-asyncio
ipykernel

requests-cache
retry-requests
pandas-gbq
shap
xgboost==2.1.4
